@font-face {
        font-family: "MyFont";
        src: local("MyFont"),
        url("path/to/fontfile.woff2") format("woff2"),
            url("path/to/fontfile.woff") format("woff");
        font-weight: normal;
        font-style: normal;
}


Скачать файл со шрифтом.
Конвертировать его в нужный формат.
Сохранить в проект.
Создать файл и подключить шрифт в проект с помощью @font-face.

И дадим определение каждому пункту:

font-family — имя шрифта, которое можно будет задавать элементам в CSS.
src — путь к файлу со шрифтом и его формат. Если форматов несколько, то и путей несколько. Задаются через запятую.
local() — попытка найти файл локально на устройстве. Чтобы не загружать его повторно.
font-weight и font-style — необязательные свойства. Они задают начертание и стиль шрифта. Используются, если каждому начертанию в свойстве font-family указано одно и то же имя. Почитайте об этом в статье «Что такое @font-face на самом деле».